:root {
  --clr-accent: rgba(173, 72, 68, 1);
  --clr-accent-light: rgba(173, 72, 68, 0.5);
  --clr-accent-secondary: rgba(48, 171, 76, 1);
  --clr-accent-secondary-light: rgba(48, 171, 76, 0.5);

  --clr-bg: rgb(246, 246, 246);
  --clr-white: rgb(255, 255, 255);
  --clr-white-opacity: rgba(255, 255, 255, 0.8);
  --clr-black: rgb(0, 0, 0);
  --clr-black-opacity: rgba(0, 0, 0, 0.5);
  --clr-grey-200: rgba(217, 217, 217, 1);
  --clr-grey-400: rgb(190, 190, 190);
  --clr-warning: rgb(222, 14, 14);
  --clr-font-primary: rgba(17, 17, 17, 1);
  --clr-underline: rgba(17, 17, 17, 1);

  --size-150: 1.5rem;
  --size-500: 5rem;

  --ff-primary: "Raleway", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 450;
  --fw-bold: 700;

  --fs-100: 1rem;
  --fs-200: 1.3rem;
  --fs-300: 1.6rem;
  --fs-350: 1.8rem;
  --fs-400: 2rem;
  --fs-450: 2.5rem;
  --fs-500: 3.1rem;
  --fs-600: 4.8rem;
  --fs-800: 8rem;
  --fs-850: 10rem;

  --fs-body: var(--fs-300);
  --fs-secondary-heading: var(--fs-400);
  --fs-heading-gradient: var(--fs-450);
  --fs-nav: var(--fs-300);

  --gradient-primary: linear-gradient(rgba(0 0 0 / 0), rgba(0 0 0 /0.8));
  --header-height:  12.2rem
}

@media (min-width: 750px) {
  :root {
    --fs-body: var(--fs-200);
    --fs-secondary-heading: var(--fs-300);
    --fs-heading-gradient: var(--fs-450);
  }
}

@media (min-width: 1400px) {
  :root {
    --fs-body: var(--fs-400);
    --fs-secondary-heading: var(--fs-500);
    --fs-heading-gradient: var(--fs-600);
    --fs-nav: var(--fs-300);
  }
}

/* Generics */

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-font-primary);
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

button {
  display: block;
  cursor: pointer;
}

/* Utiliti Classes Grups */

/* Fonts */

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}

.fs-select {
  font-size: var(--fs-200);
}
@media (min-width: 750px) {
  .fs-select {
    font-size: var(--fs-300);
  }
}

/* Backgrounds */
.bg-accent {
  background-color: var(--clr-accent);
}

.bg-accent-secondary {
  background-color: var(--clr-accent-secondary);
}

.bg-primary {
  background-color: var(--clr-bg);
}
.bg-img-defaults {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Images Loading */

.blur-animation::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.8);
  animation: pulse 2000ms ease-in-out infinite alternate;
}

@keyframes pulse {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.5;
  }
  0% {
    opacity: 0.1;
  }
}

.blur-load {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
img {
  object-fit: cover;
}

.blur-load > img {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
.loaded {
  opacity: 1;
}

/* Z-index */

.zIndex-1 {
  z-index: 1;
}

.zIndex-3 {
  z-index: 3;
}

.zIndex-5 {
  z-index: 5;
}

.zIndex-7 {
  z-index: 7;
}

/* Cursors */
.cursor-pointer {
  cursor: pointer;
}

.cursor-none {
  cursor: auto;
}

/* Overfows */

.overflow-hidden {
  overflow: hidden;
}
.overflowX-hidden {
  overflow-x: hidden;
}

.overflowY-hidden {
  overflow-y: hidden;
}

/* Buttons */

.btn-primary {
  padding: 10px 40px;
  border: 0;
  border-radius: 0;
  color: var(--clr-white);
  width: fit-content;
}

.btn-primary:hover {
  opacity: 0.7;
}

/* Columns */

.even-columns {
  display: grid;
  gap: 0.5rem;
}

.even-columns-4 {
  display: grid;
  gap: 2rem;
}

@media (min-width: 650px) {
  .even-columns-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 750px) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
  .even-columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1800px) {
  .even-columns-4 {
    gap: 5rem;
  }
}

/* Headers */

.subtitle-gradient {
  font-size: var(--fs-heading-gradient);
  font-weight: var(--fw-bold);
  background: linear-gradient(90.01deg, #111111 -8.85%, #b1b1b1 116.12%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1.3;
}

.header-gredient {
  font-size: var(--fs-heading-gradient);
  font-weight: var(--fw-bold);
  background: linear-gradient(
    90.01deg,
    #111111 -8.85%,
    #b1b1b1 58.84%,
    #696969 91.39%,
    #b1b1b1 116.12%
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Widths - Heights */

.width-content {
  width: fit-content;
}

.height-content {
  height: fit-content;
}

.max-width-4600 {
  max-width: 46rem;
}

.min-width-1000 {
  min-width: 10rem;
}

.min-height-100vh {
  min-height: 100vh;
}

/* Underlines */

.underline-nav::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--clr-underline);
}

.underline-primary:after {
  content: "";
  position: absolute;
  bottom: calc(0px - var(--size-150));
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 7.875rem;
  background-color: var(--clr-underline);
}

.underline-content::after {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.5s;
}

.cart-container:hover .underline-content::after {
  background-color: var(--clr-underline);
}

/* Positionings */

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-x {
  display: flex;
  justify-content: center;
}

.center-y {
  display: flex;
  align-items: center;
}

.space-between-x {
  display: flex;
  justify-content: space-between;
}

.justify-self-end {
  justify-self: end;
}
.text-center {
  text-align: center;
}

/* Margins */

.margin-auto {
  margin: auto;
}

.margin-inline-auto {
  margin: 0 auto;
}

/* ---- */

.margin-100 {
  margin: 1rem;
}

.margin-150 {
  margin: 1.5rem;
}

.margin-200 {
  margin: 2rem;
}

.margin-300 {
  margin: 3rem;
}
.margin-400 {
  margin: 4rem;
}

/* ---- */

.margin-inline-100 {
  margin-inline: 1rem;
}

.margin-block-300 {
  margin-block: 3rem;
}

.margin-block-700 {
  margin-block: 7rem;
}

.margin-block-900 {
  margin-block: 9rem;
}

/* ---- */

.margin-top-auto {
  margin-top: auto;
}
.margin-top-0 {
  margin-top: 0;
}

.margin-top-100 {
  margin-top: 1rem;
}

.-margin-top-200 {
  margin-top: -2rem;
}

.-margin-top-300 {
  margin-top: -3rem;
}
.margin-top-200 {
  margin-top: 2rem;
}

.margin-top-300 {
  margin-top: 3rem;
}

.margin-top-500 {
  margin-top: 5rem;
}

/* ---- */

.margin-bottom-150 {
  margin-bottom: 1.5rem;
}

.margin-bottom-200 {
  margin-bottom: 2rem;
}

.margin-bottom-350 {
  margin-bottom: 3.5rem;
}
.margin-bottom-500 {
  margin-bottom: 5rem;
}

/* Paddings */

.padding-100 {
  padding: 1rem;
}

.padding-inline-100 {
  padding-inline: 0.5rem;
}

.padding-inline-200 {
  padding-inline: 1rem;
}

.padding-block-100 {
  padding-block: 1rem;
}

.padding-block-300 {
  padding-block: 3rem;
}

.padding-block-400 {
  padding-block: 4rem;
}

.padding-block-500 {
  padding-block: 5rem;
}

.padding-top-500 {
  padding-top: 5rem;
}

.padding-bottom-200 {
  padding-bottom: 2rem;
}

.padding-bottom-500 {
  padding-bottom: 5rem;
}

.padding-bottom-900 {
  padding-bottom: 9rem;
}

/* Cards */

.cart-container {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  width: 80vw;
  margin: 0 auto;
}

@media (min-width: 750px) {
  .cart-container {
    width: 26vw;
    max-width: 42rem;
  }
  .cart-elem-height {
    min-height: 27rem;
  }
}

@media (min-width: 1000px) {
  .cart-elem-height {
    min-height: 19rem;
  }
}

@media (min-width: 1400px) {
  .cart-elem-height {
    min-height: 32rem;
  }
}

/* Utiliti Classes Individual */

.gradient-primary {
  background-image: var(--gradient-primary);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.rotate-180 {
  transform: rotate(180deg);
}

.transition {
  transition: 0.5s;
}

.nonbreaking-space {
  white-space: nowrap;
}

.wrapper {
  width: 100%;
  max-width: 1546px;
  margin-inline: auto;
}

.relative {
  position: relative;
}

/* Navigation Section */

.primary-header {
  height: var(--header-height);
  background-color: var(--clr-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  position: sticky;
  top: 0;
}

.wrapper-nav {
  justify-content: end;
}

.logo {
  position: absolute;
  left: 1rem;
  bottom: 47%;
  transform: translateY(50%);
  font-size: var(--fs-500);
  white-space: nowrap;
}

.primary-navigation {
  font-size: var(--fs-nav);
  background-color: var(--clr-white);
}

.mobile-nav-toggle {
  display: none;
  margin-left: auto;
  background-color: transparent;
  border: 0;
}

.icon-xmark,
.icon-hamburger {
  width: 3rem;
  height: 3rem;
}

.nav-list {
  display: flex;
  gap: 20px;
  text-align: center;
  width: fit-content;
  margin: auto;
}

.nav-link {
  text-decoration: none;
  color: var(--clr-font-primary);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--clr-accent);
}

@media (max-width: 750px) {
  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: var(--gradient-primary);
    pointer-events: none;
  }

  .wrapper-nav {
    justify-content: center;
  }

  .primary-navigation {
    display: block;
    position: fixed;
    width: 80%;
    padding: var(--size-700);
    inset: 7rem var(--size-400) auto;
    border-radius: var(--size-100);
    margin-top: -100rem;
    padding: 5rem;
    transition-duration: 800ms;
  }

  .primary-navigation[data-visible] {
    display: block;
    margin-top: 37rem;
  }

  .nav-list {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0.5;
    font-size: var(--fs-700);
  }

  .mobile-nav-toggle .icon-xmark {
    display: none;
  }
}

@media (min-width: 1000px) {
  .wrapper-nav {
    justify-content: center;
  }
}

@media (min-width: 1500px) {
  .logo {
    left: 12rem;
  }
}

/* Hero */


.drops-left-lg,
.drops-right-sm,
.drops-right-lg {
  aspect-ratio: 1/2;
  display: none;
}

.drops-left-lg,
.drops-right-lg {
  width: 18%;
}

.drops-left-lg {
  position: absolute;
  top: 87%;
  left: 0;
  background-image: url("../src/images/drops/inHero/Drops-left-lg.svg");
}

.drops-right-sm {
  position: absolute;
  top: 64%;
  right: -2%;
  width: 8%;
  background-image: url("../src/images/drops/inHero/Drops-right-sm.svg");
}

.drops-right-lg {
  position: absolute;
  top: 70%;
  right: 0;
  background-image: url("../src/images/drops/inHero/Drops-right-lg.svg");
}

@media (min-width: 750px) {
  .drops-left-lg,
  .drops-right-sm,
  .drops-right-lg {
    display: block;
  }
}

.bottles {
  width: 40vw;
  max-width: 62rem;
  margin-bottom: 3rem;
}

.wrapper-hero-column {
  width: auto;
  padding-inline: 1rem;
}

@media (min-width: 750px) {
  .wrapper-hero {
    padding-block: 3rem;
  }

  .bottles {
    width: 31vw;
  }

  .wrapper-hero-column {
    width: auto;
    padding-inline: 0;
    padding-right: 2rem;
  }
}

@media (min-width: 1450px) {
  .wrapper-hero {
    padding-block: 6rem;
  }
  .wrapper-hero-column {
    width: 80rem;
  }

  .bottles {
    height: 81rem;
    width: 67rem;
  }
}

/* <!-- Distinguish --> */
.distingush-columns {
  margin-top: 3rem;
}

.drops-top-left,
.drops-top-right {
  position: absolute;
  width: 27%;
  aspect-ratio: 1/2;
}

.drops-top-left-flower {
  top: 30%;
  left: -19%;
  background-image: url("../src/images/drops/inPictures/drops-top-left-.svg");
}

.drops-top-right-flower {
  top: 9%;
  left: 91%;
  background-image: url("../src/images/drops/inPictures/drops-top-right.svg");
}

.drops-top-left-dogs {
  top: 30%;
  left: -17%;
  background-image: url("../src/images/drops/inPictures/drops-top-right.svg");
  transform: rotate(180deg);
}

.drops-top-right-dogs {
  top: 30%;
  left: 80%;
  background-image: url("../src/images/drops/inPictures/drops-top-left-.svg");
  transform: rotate(180deg);
}

.drops-top-left-syringe {
  top: 13%;
  left: -23%;
  background-image: url("../src/images/drops/inPictures/drops-top-left-.svg");
}

.drops-top-right-syringe {
  top: 30%;
  left: 80%;
  background-image: url("../src/images/drops/inPictures/drops-top-left-.svg");
  transform: rotate(180deg);
}

.circle-number {
  width: 2.87rem;
  height: 2.87rem;
  border-radius: 100%;
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.25);
  background-color: var(--clr-white);
}

.circle-number {
  width: 2.87rem;
  height: 2.87rem;
  border-radius: 100%;
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.25);
  background-color: var(--clr-white);
}

@media (min-width: 750px) {
  .distingush-columns {
    margin-top: 6rem;
  }
}

/* Composition */

.circle {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  background-color: var(--clr-grey-200);
}

.cart-composition {
  margin-bottom: 2rem;
}

.bottle-drop-left,
.bottle-drop-right {
  aspect-ratio: 1/2;
  background-image: url("../src/images/green-drop.svg");
}

.bottle-drop-left {
  position: absolute;
  width: 50%;
  top: 33%;
  left: -8%;
  transform: rotate(38deg);
}

.bottle-drop-right {
  position: absolute;
  width: 40%;
  top: 29%;
  left: 66%;
  transform: rotate(38deg);
}

.bottle {
  width: 31vw;
  max-width: 49rem;
  aspect-ratio: 1/2;
}

@media (min-width: 1400px) {
  .bottle {
    width: 47vw;
    max-width: 60rem;
    aspect-ratio: 1/2;
  }
}

/* Dog */

.dog-drop-left,
.dog-drop-right {
  width: 29%;
  aspect-ratio: 1/2;
  background-image: url("../src/images/green-drop.svg");
}

.dog-drop-left {
  position: absolute;
  top: 15%;
  left: 14%;
}

.dog-drop-right {
  position: absolute;
  top: 7%;
  left: 66%;
  transform: rotate(36deg);
}

.dog {
  width: 71vw;
  max-width: 90rem;
}

/* Products */

.products-header {
  border: 1px solid var(--clr-accent);
  padding: 0.4rem 1rem;
}

.wrapper--products {
  padding-block: 5rem;
  padding-inline: 1rem;
}

.products-container {
  padding: 1rem 2rem;
}
.product-container {
  width: 70vw;
  aspect-ratio: 1/1;
  background-color: var(--clr-grey-400);
}

@media (min-width: 650px) {
  .product-container {
    width: 100%;
    background-color: var(--clr-grey-400);
  }
}

@media (min-width: 750px) {
  .products-header {
    padding: 1rem 4rem;
  }

  .product-container {
    max-width: 37.1rem;
    max-height: 35rem;
  }
}

@media (min-width: 1800px) {
  .products-container {
    padding-block: 2.5rem;
  }

  .product-container {
    width: 37.1rem;
    height: 35rem;
    aspect-ratio: auto;
  }
}

/* Products-Select */

.select-container {
  position: relative;
  display: inline-block;
}

.select {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.select-trigger {
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  background-color: var(--clr-accent);
  border: 1px solid var(--clr-accent);
  border-radius: 0;
  color: var(--clr-white);
}

.select-trigger:hover {
  background-color: var(--clr-accent-light);
}

.arrow-select {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
}
[data-value] {
  min-width: 2.8rem;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--clr-white);
  border-top: none;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  border: 1px solid var(--clr-accent);
}

.select.open .options {
  max-height: 150px;
  opacity: 1;
  visibility: visible;
}

.option {
  padding: 0.25rem 1rem;
  cursor: pointer;
  width: 100%;
}

.option:hover {
  background: var(--clr-accent-light);
}

@media (min-width: 750px) {
  .select-trigger {
    padding: 1rem 4rem;
  }
}

/* Products-Spinner */
.spinner-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid var(--clr-accent);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Popup */

.popup-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.popup-innerContainer {
  background-color: var(--clr-white);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  height: 17rem;
  width: 84.3rem;
  font-size: var(--fs-secondary-heading);
}

@media (min-width: 750px) {
  .popup-innerContainer {
    height: 28.5rem;
    width: 84.3rem;
  }
}

.popup-xmark {
  position: absolute;
  top: 0;
  right: 1rem;
  width: 1.6rem;
  font-size: var(--fs-600);
}

/* HTTP error */

.http-error {
  position: fixed;
  inset: 0;
  background-image: var(--gradient-primary);
  font-size: var(--fs-500);
  color: var(--clr-warning);
}
/* Paralax */

.paralax-wraper {
  height: calc(100vh - var(--header-height));
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.paralax-composition {
  transform-style: preserve-3d;
  z-index: -1;
}

.paralax-dog {
  opacity: 0.2;
  position: absolute;
  bottom: -24rem;
  left: 50%;
  transform: translateZ(-400px) translateX(-20%) scale(5);
}

@media (min-width: 750px) {
  .paralax-dog {
    bottom: -10rem;
  }
}
