:root {
  --clr-accent: rgba(173, 72, 68, 1);
  --clr-accent-light: rgba(173, 72, 68, 0.5);
  --clr-accent-secondary: rgba(48, 171, 76, 1);
  --clr-accent-secondary-light: rgba(48, 171, 76, 0.5);

  --clr-bg: rgb(246, 246, 246);
  --clr-white: rgb(255, 255, 255);
  --clr-white-opacity: rgba(255, 255, 255, 0.8);
  --clr-black: rgb(0, 0, 0);
  --clr-black-opacity: rgba(0, 0, 0, 0.5);
  --clr-grey-200: rgba(217, 217, 217, 1);
  --clr-grey-400: rgb(190, 190, 190);
  --clr-warning: rgb(222, 14, 14);

  --clr-underline: rgba(17, 17, 17, 1);

  /* --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem; */

  --size-150: 1.5rem;

  --size-500: 5rem;
  /* --size-900: 9rem; */
  --size-1100: 11rem;

  --ff-primary: "Raleway", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 450;
  --fw-bold: 700;

  --fs-100: 1rem;
  --fs-200: 1.3rem;
  --fs-300: 1.6rem;
  --fs-350: 1.8rem;
  --fs-400: 2rem;
  --fs-450: 2.5rem;
  --fs-500: 3.1rem;
  --fs-600: 4.8rem;
  --fs-800: 8rem;
  --fs-850: 10rem;
  /* --fs-900: 10rem; */

  --fs-body: var(--fs-300);
  --fs-secondary-heading: var(--fs-400);
  --fs-heading-gradient: var(--fs-450);
  --fs-nav: var(--fs-300);
  /* --fs-btn: var(--fs-300); */

  --gradient-primary: linear-gradient(rgba(0 0 0 / 0), rgba(0 0 0 /0.8));
}

@media (min-width: 650px) {
  :root {
    /* --fs-body: var(--fs-400); */
    --fs-secondary-heading: var(--fs-450);
    --fs-heading-gradient: var(--fs-500);
  }
}

@media (min-width: 800px) {
  :root {
    --fs-body: var(--fs-200);
    --fs-secondary-heading: var(--fs-300);
    /* --fs-heading-gradient: var(--fs-500); */
  }
}

@media (min-width: 1400px) {
  :root {
    --fs-body: var(--fs-400);
    --fs-secondary-heading: var(--fs-500);
    --fs-heading-gradient: var(--fs-600);
    --fs-nav: var(--fs-300);
  }
}

html {
  font-size: 62.5%;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: var(--fs-body);
  font-family: var(--ff-body);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  display: block;
  cursor: pointer;
}

/*Utiliti Classes  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* backgrounds */
.bg-accent {
  background-color: var(--clr-accent);
}

.bg-accent-secondary {
  background-color: var(--clr-accent-secondary);
}

.bg-primary {
  background-color: var(--clr-bg);
}

/* Fonts */

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  /* line-height: 1.1; */
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  /* line-height: 1.1; */
}

.fs-select {
  font-size: var(--fs-200);
}
@media (min-width: 800px) {
  .fs-select {
    font-size: var(--fs-300);
  }
}

.gradient-primary {
  background-image: var(--gradient-primary);
}

/* Z-index */

.zIndex-1 {
  z-index: 1;
}

.zIndex-3 {
  z-index: 3;
}

.zIndex-5 {
  z-index: 5;
}

.zIndex-7 {
  z-index: 7;
}
.padding-block-400 {
  padding-block: 4rem;
}

.padding-block-500 {
  padding-block: 5rem;
}

.padding-top-500 {
  padding-top: var(--size-500);
}

.padding-bottom-500 {
  padding-bottom: var(--size-500);
}

.scrollbarGutter {
  scrollbar-gutter: stable;
  padding-right: 1.7rem;
}

.nonbreaking-space {
  white-space: nowrap;
}

.wrapper {
  width: 100%;
  max-width: 1546px;
  margin-inline: auto;
}

/* Cursors */
.cursor-pointer {
  cursor: pointer;
}

.cursor-none {
  cursor: auto;
}

.overflow-hidden {
  overflow: hidden;
}
.overflowX-hidden {
  overflow-x: hidden;
}

.overflowY-hidden {
  overflow-y: hidden;
}

.btn-primary {
  padding: 10px 40px;
  border: 0;
  border-radius: 0;
  color: var(--clr-white);
  width: fit-content;
}

.btn-primary:hover {
  opacity: 0.7;
}

.rotate-180 {
  transform: rotate(180deg);
}

.transition {
  transition: 0.5s;
}

/* columns */

.even-columns {
  display: grid;
  gap: 0.5rem;
}

.even-columns-5 {
  display: grid;
  gap: 1rem;
}

@media (min-width: 650px) {
  .even-columns-5 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
  .even-columns-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 140px) {
  .even-columns-5 {
    gap: 2rem;
  }
}

/* Headers */

.subtitle-gradient {
  font-size: var(--fs-heading-gradient);
  font-weight: var(--fw-bold);
  background: linear-gradient(90.01deg, #111111 -8.85%, #b1b1b1 116.12%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.header-gredient {
  font-size: var(--fs-heading-gradient);
  font-weight: var(--fw-bold);
  background: linear-gradient(
    90.01deg,
    #111111 -8.85%,
    #b1b1b1 58.84%,
    #696969 91.39%,
    #b1b1b1 116.12%
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.width-content {
  width: fit-content;
}

.height-content {
  height: fit-content;
}

.text-center {
  text-align: center;
}
.relative {
  position: relative;
}

/* Underlines */

.underline-nav::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--clr-underline);
}

.underline-primary:after {
  content: "";
  position: absolute;
  bottom: calc(0px - var(--size-150));
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 7.875rem;
  background-color: var(--clr-underline);
}

.underline-content::after {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.5s;
}

.cart-container:hover .underline-content::after {
  background-color: var(--clr-underline);
}

/* Flex */

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-x {
  display: flex;
  justify-content: center;
}

.center-y {
  display: flex;
  align-items: center;
}

.justify-self-end {
  justify-self: end;
}

/* Margins */

.push-right {
  margin-left: auto;
}
/* .flow > * + * {
  margin-top: 3em;
} */

.margin-bottom-auto {
  margin-top: auto;
}

.margin-top-200 {
  margin-top: 2rem;
}

.margin-top-300 {
  margin-top: 3rem;
}

.margin-top-500 {
  margin-top: 5rem;
}

.margin-inline-100 {
  margin-inline: 1rem;
}

.margin-auto {
  margin: auto;
}

.margin-inline-auto {
  margin: 0 auto;
}

.margin-100 {
  margin: 1rem;
}

.margin-150 {
  margin: 1.5rem;
}

.margin-200 {
  margin: 2rem;
}

.margin-300 {
  margin: 3rem;
}
.margin-400 {
  margin: 4rem;
}
.margin-top-0 {
  margin-top: 0;
}

.margin-block-300 {
  margin-block: 3rem;
}

.margin-block-700 {
  margin-block: 7rem;
}

.margin-block-900 {
  margin-block: 9rem;
}

.padding-block-300 {
  padding-block: 3rem;
}

/* .margin-top-300 {
  margin-top: 3rem;
} */

.display-block {
  display: block;
}

.margin-bottom-150 {
  margin-bottom: 1.5rem;
}

.margin-bottom-200 {
  margin-bottom: 2rem;
}

.margin-bottom-350 {
  margin-bottom: 3.5rem;
}

.margin-inline-100 {
  margin-inline: 1rem;
}

/* Paddings */

.padding-inline-100 {
  padding-inline: 0.5rem;
}

.padding-inline-200 {
  padding-inline: 1rem;
}

/* Cards */

.cart-container {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  width: 80vw;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .cart-container {
    width: 28vw;
    max-width: 42rem;
  }
}

@media (min-width: 800px) {
  .cart-elem-height {
    min-height: 25rem;
  }
}

@media (min-width: 1000px) {
  .cart-elem-height {
    min-height: 19rem;
  }
}

@media (min-width: 1400px) {
  .cart-elem-height {
    min-height: 32rem;
  }
}

.text-semi-bold {
  font-weight: var(--fw-semi-bold);
}

/* Navigation */

.primary-header {
  height: 12.2rem;
  background-color: var(--clr-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  position: fixed;
  top: 0;
}

.nav-wrapper {
  justify-content: end;
}

.logo {
  position: absolute;
  left: 1rem;
  bottom: 50%;
  transform: translateY(50%);
  font-size: var(--fs-500);
  white-space: nowrap;
}

.primary-navigation {
  font-size: var(--fs-nav);
  background-color: var(--clr-white);
}

.mobile-nav-toggle {
  display: none;
  margin-left: auto;
  background-color: transparent;
  border: 0;
}

.icon-xmark,
.icon-hamburger {
  width: 5rem;
  height: 5rem;
}

.nav-list {
  display: flex;
  gap: 20px;
  text-align: center;
  width: fit-content;
  margin: auto;
}

.navList__item:hover,
.navList__item:focus {
  color: var(--clr-accent);
}

@media (max-width: 800px) {
  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: var(--gradient-primary);
    pointer-events: none;
  }

  .nav-wrapper {
    justify-content: center;
  }

  .primary-navigation {
    display: block;
    position: fixed;
    width: 80%;
    padding: var(--size-700);
    inset: 7rem var(--size-400) auto;
    border-radius: var(--size-100);
    margin-top: -100rem;
    padding: 5rem;
    transition-duration: 800ms;
  }

  .primary-navigation[data-visible] {
    display: block;
    margin-top: 25rem;
  }

  .nav-list {
    display: block;
  }

  .navList__item:not(:last-child) {
    margin-bottom: 2rem;
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0.5;
    font-size: var(--fs-700);
  }

  .mobile-nav-toggle .icon-xmark {
    display: none;
  }
}

@media (min-width: 1000px) {
  .nav-wrapper {
    justify-content: center;
  }
}

/* Hero */
.headerSpacer {
  height: 12.2rem;
}

.wrapper-hero {
  padding-block: 1rem;
}

.bottles-drop-left,
.bottles-drop-right {
  aspect-ratio: 1/2;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bottles-drop-left {
  position: absolute;
  top: 51%;
  left: -2%;
  width: 18%;
  background-image: url("../src/images/bottle/Vector-left.png");
}

.bottles-drop-right {
  position: absolute;
  top: 31%;
  left: 71%;
  width: 31%;
  background-image: url("../src/images/bottle/Vector-right.png");
}

.bottles {
  width: 31vw;
  max-width: 62rem;
  margin-bottom: 3rem;
}

.heroLogo__md {
  display: none;
}

@media (min-width: 650px) {
  .heroLogo__sm {
    display: none;
  }

  .heroLogo__md {
    display: block;
    margin-bottom: 3rem;
    width: 33rem;
  }
}

@media (min-width: 800px) {
  .wrapper-hero {
    padding-block: 3rem;
  }

  .bottles {
    height: 45rem;
    width: 35rem;
  }
  .bottles::before {
    left: -8%;
  }
  .bottles::after {
    right: 1%;
  }
}

@media (min-width: 1300px) {
  .wrapper-hero {
    padding-block: 6rem;
  }
  .heroLogo__md {
    width: auto;
  }

  .bottles {
    height: 81rem;
    width: 67rem;
  }

  .bottles::before,
  .bottles::after {
    width: 22rem;
  }

  .bottles::before {
    left: -9%;
  }
  .bottles::after {
    right: 1%;
  }
}
*/

/* <!-- Distinguish --> */

.circle-number {
  width: 2.87rem;
  height: 2.87rem;
  border-radius: 100%;
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.25);
  background-color: var(--clr-white);
}

.circle-number {
  width: 2.87rem;
  height: 2.87rem;
  border-radius: 100%;
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.25);
  background-color: var(--clr-white);
}

/* Composition */

.circle {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  background-color: var(--clr-grey-200);
}

.bottle-drop-left,
.bottle-drop-right {
  aspect-ratio: 1/2;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bottle-drop-left {
  position: absolute;
  width: 50%;
  top: 36%;
  left: -8%;
  background-image: url("../src/images/bottle/Vector-left.png");
}

.bottle-drop-right {
  position: absolute;
  width: 40%;
  top: 29%;
  left: 67%;
  background-image: url("../src/images/bottle/Vector-right.png");
}

.bottle {
  width: 31vw;
  max-width: 49rem;
  aspect-ratio: 1/2;
}

/* Dog */

.dog-drop-left,
.dog-drop-right {
  width: 29%;
  aspect-ratio: 1/2;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dog-drop-left {
  position: absolute;
  top: 22%;
  left: 15%;
  background-image: url("../src/images/dog/Vector-left.png");
}

.dog-drop-right {
  position: absolute;
  top: 16%;
  left: 69%;
  background-image: url("../src/images/dog/Vector-right.png");
}

.dog {
  width: 71vw;
  max-width: 90rem;
}

/* Products */

.products-header {
  border: 1px solid var(--clr-accent);
  padding: 0.4rem 1rem;
}

/* Products-Select */

.wrapper--products {
  padding-block: 5rem;
  padding-inline: 1rem;
}

.select-container {
  position: relative;
  display: inline-block;
}

.select {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.select-trigger {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  background-color: var(--clr-accent);
  border: 1px solid var(--clr-accent);
  border-radius: 0;
  color: var(--clr-white);
}


@media (min-width: 800px) {
  .products-header {
    padding: 1rem 4rem;
  }
  .select-trigger {
    padding: 1rem 4rem;
  }
}

.select-trigger:hover {
  background-color: var(--clr-accent-light);
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--clr-white);
  border-top: none;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  border: 1px solid var(--clr-accent);
}

.select.open .options {
  max-height: 150px;
  opacity: 1;
  visibility: visible;
}

.option {
  padding: 0.25rem 1rem;
  cursor: pointer;
  width: 100%;
}

.option:hover {
  background: var(--clr-accent-light);
}

.product-container {
  width: 28rem;
  height: 25rem;
  background-color: var(--clr-grey-400);
}

@media (min-width: 650px) {
  .product-container {
    width: 100%;
    background-color: var(--clr-grey-400);
  }
}

@media (min-width: 800px) {
  .product-container {
    height: 20rem;
  }
}

@media (min-width: 1400px) {
  .product-container {
    max-width: 37.1rem;
    max-height: 35rem;
  }
}

/* Products-Spinner */

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid var(--clr-accent);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.productsWrapper {
  min-height: 30rem;
}

.spinnerContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

/* Popup */

.popupContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.popupInnerContainer {
  background-color: var(--clr-white);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  height: 17.81rem;
  width: 52.58rem;
}

.popupXmark {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
}

/* HTTP error */

.http-error {
  position: fixed;
  inset: 0;
  background-image: var(--gradient-primary);
  font-size: var(--fs-500);
  color: var(--clr-warning);
}
